name: Build and Push Docker Image to Docker Hub

on: push
jobs:

  build:
    runs-on: ubuntu-latest
    permissions:
      packages: write
      contents: read
      attestations: write
      id-token: write
    steps:
    - name: Checkout repository
      uses: actions/checkout@v4
    - name: Read values.json
      id: values
      uses: juliangruber/read-file-action@v1
      with:
        path: ./ACTION_CONFIG/values.json
    - name: Echo values.json
      run: echo "${{ fromJson(steps.values.outputs.content).version }}"

#    - name: Check out the repo
#      uses: actions/checkout@v4
#    - name: Set up JDK 11
#      uses: actions/setup-java@v4
#      with:
#        java-version: '11'
#        distribution: 'temurin'
#        cache: maven
#    - name: Build with Maven (Package)
#      run: mvn -Dmaven.test.skip=true -Dmaven.test.failure.ignore clean package --file pom.xml
#    - name: Build the Docker image
#      run: docker build . --file Dockerfile --tag pdrodavi/nabbreviate-api-action-config:latest
#    - name: Log in to Docker Hub
#      uses: docker/login-action@v3
#      with:
#        username: ${{secrets.DOCKERHUB_USERNAME}}
#        password: ${{secrets.DOCKERHUB_TOKEN}}
#    - name: Publish to Docker Hub
#      run: docker push pdrodavi/nabbreviate-api:latest
